<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Hara</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
  <link rel="stylesheet" href="assets/dist/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script th:inline="javascript">
    const emailCheck = () => {
    const email = document.getElementById("memberEmail").value;
    const checkResult = document.getElementById("check-result");
    console.log("입력값 : " + email);
    $.ajax({
      // 요청방식 : post, url : "email-check", 데이터 : 이메일
      type: "post",
      url: "/pinocchio/email-check",
      data: {
        "memberEmail": email
      },
      success: function(res) {
        console.log("요청성공", res);
        if(res == "ok") {
            console.log("사용가능한 이메일");
            checkResult.style.color = "green";
            checkResult.innerHTML = "사용가능한 이메일"
        } else {
            console.log("이미 사용중인 이메일");
            checkResult.style.color = "red";
            checkResult.innerHTML = "이미 사용중인 이메일"
        }
      },
      error: function(err) {
        console.log("에러발생", err);
      }
    });
  }
  </script>
</head>

<body>
<header data-bs-theme="dark">
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>SIGN UP</strong>
      </a>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
        <a href="/pinocchio" class="nav-link text-white" aria-current="page">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
            <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
          </svg>
        </a>
      </svg>
    </div>
  </div>
</header>

<main>
  <!-- action 속성 : form에 작성한 데이터를 어디로 보낼지 지정 -->
  <form action="/pinocchio/save" method="post">
    <div class="container">
      <table class="table" style="text-align: center; border: 1px soild #dddddd">
        <thead>
          <tr style="height: 50px">
            <th style="background-color: #fafafa; text-align: center;">이메일</th>
            <th style="background-color: #fafafa; text-align: center;">비밀번호</th>
            <th style="background-color: #fafafa; text-align: center;">이름</th>
          </tr>
        </thead>
        <tbody>
          <tr style="height: 50px">
            <td><input type="email" name="memberEmail" id="memberEmail" onblur="emailCheck()"></td>
            <td><input type="password" name="memberPassword" id="memberPassword"></td>
            <td><input type="text" name="memberName" id="memberName"></td>
          </tr>
          <tr style="height: 50px">
            <th style="background-color: #fafafa; text-align: center;"><span id="check-result"></span></th>
            <th colspan="2" style="background-color: #fafafa;"></th>
          </tr>
          <tr style="height: 50px">
            <td colspan="3" style="text-align: center;"><input type="submit" id="saveBtn" value="회원가입"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</main>

<footer class="text-body-secondary py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2024. hara all rights reserved.</p>
  </div>
</footer>
</body>
</html>