<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hara</title>
  </head>
  <body>
  <header data-bs-theme="dark">
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>SIGN IN</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
            <a href="javascript:home()" class="nav-link text-white" aria-current="page">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
              </svg>
            </a>
          </svg>
        </button>
      </div>
    </div>
  </header>

    <main>

      <section class="py-5 text-center container">

          <div class="card bg-dark" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center" style="background: linear-gradient(180deg, #034694, #212529); border-radius: 1rem;">
              <h2 class="text-white">로그인을 해주세요.</h2>
              <p class="text-white-50 mt-2 mb-5">Sign in with Google</p>

              <div class = "mb-2">
                <a href="/oauth2/authorization/google">
                  <img src="/img/google.png">
                </a>
              </div>
            </div>
          </div>

      </section>

    </main>

  <footer class="text-body-secondary py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mt-5 mb-3 text-body-secondary">&copy; 2024. hara all rights reserved.</p>
    </div>
  </footer>

  </body>
</html>